name: Cron Statistics

on:
  # 允许手动触发
  workflow_dispatch:
  # 定时触发的 Cron 表达式，例如 "0 9 * * *" 表示每天上午 9 点触发
  schedule:
    - cron: 0 17 * * *  # 每天下午 5 点触发，对应东八区的凌晨 1:00 触发

jobs:
  cron-stats:
    runs-on: ubuntu-latest
    permissions:                # Job-level permissions configuration starts here
      contents: write           # 'write' access to repository contents
      pull-requests: write      # 'write' access to pull requests
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # 如果你的脚本需要其他依赖，在这里安装
        pip install -r requirements.txt

    - name: Set Timezone from .env
      run: |
        echo "TZ=$(cat .env | grep TZ | cut -d '=' -f2)" >> $GITHUB_ENV

    - name: Get Current Time
      id: date
      run: |
        # 设置环境变量 CURRENT_DATE 为当前时间
        echo "CURRENT_DATE=$(date +'%Y-%m-%dT%H:%M:%S%z')" >> $GITHUB_ENV

    - name: Run Script
      run: |
        python stats-github-project.py --only_json > ./data/stats-${{ env.CURRENT_DATE }}.json
        python update-charts.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Push JSON Result to Data Directory
      run: |
        # 假设脚本执行后的输出是一个名为 result.json 的文件
        git config --global user.name 'oss-watchman[bot]'
        git config --global user.email 'oss-watchman[bot]@users.noreply.github.com'
        # 添加文件到暂存区
        git add .
        # 提交并推送到 origin 的当前分支
        git commit -m "Add stats result and update chart for ${{ env.CURRENT_DATE }}"
        git push origin HEAD:${{ github.ref }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Push changes
      uses: ad-m/github-push-action@v0.8.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
